@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

#header_sub_community {
    width: 100%;
    background-color: #E7A7A7;

    .inner {
        width: 1180px;
        height: 120px;
        margin: 0 auto;
        position: relative;

        .logo{
            position: absolute;
            top: 50%;
            left: 50px;
            transform: translateY(-50%);
            
            img{
                width: 50px;
                height: 50px;
            }

            >h1 a{
                position: absolute;
                top: 50%;
                left: 50px;
                transform: translateY(-60%);
                font-size: 20px;
                color: #595f70;

                &::after{
                    content: '';
                    border-right: 2px solid #595f70;
                    margin-left: 20px;
                    font-size: 30px;
                }
            }
        }

        .menuWeb {
            #gnb {
                position: absolute;
                top: 50%;
                left: 225px;
                transform: translateY(-50%);

                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }

                li {
                    float: left;

                    a {
                        position: relative;
                        display: block;
                        padding: 0px 20px;
                        color: #595f70;
                        font: bold 12px/1;
                        transition: 0.5s;

                        &::after{
                            content: '';
                            width: 0%;
                            left: 50%;
                            height: 1px;
                            display: block;
                            position: absolute;
                            margin-top: 2px;
                            border-bottom: 1px solid #595f70;
                            transition:all .3s ease;
                        }

                        &:hover::after{
                            content: '';
                            width: 80%;
                            left: 11px;
                            height: 1px;
                            display: block;
                            position: absolute;
                            margin-top: 2px;
                            border-bottom: 1px solid #595f70;
                            transition:all .3s ease;
                        }
                    }
                }
            }

            .icons {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);

                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }

                li {
                    float: left;

                    a {
                        display: block;
                        padding: 30px 10px;
                        transition: 0.5s;
                        color: #595f70;

                        i {
                            font-size: 17px;
                        }
                    }

                    &:hover a {
                        transform: scale(1.2);
                    }
                }
            }
        }

        .btnCall {
            position: absolute;
            top: 50%;
            right: 50px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            display: none;

            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background: #595f70;
                position: absolute;
                top: 0;
                left: 0;
                transform: rotate(0deg);
                transition: top 0.5s 0s, transform 0.5s 0.5s;
            }

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background: #595f70;
                position: absolute;
                bottom: 0;
                left: 0;
                transform: rotate(0deg);
                transition: bottom 0.5s 0s, transform 0.5s 0.5s;
            }

            span {
                display: block;
                width: 100%;
                height: 2px;
                background: #595f70;
                text-indent: -9999px;
                position: absolute;
                top: 50%;
                margin-top: -1px;
                left: 0;
                transition: 0.5s;
            }

            &.on {
                &::before {
                    transform: rotate(45deg);
                    top: 50%;
                    margin-top: -1px;
                }

                &::after {
                    transform: rotate(-45deg);
                    bottom: 50%;
                    margin-bottom: -1px;
                }

                span {
                    transform: translateX(100%);
                    opacity: 0;
                }
            }
        }

        .menuMo {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100vh;
            background: #111;
            transition: 0.5s;
            padding: 35px 30px;
            box-sizing: border-box;
            z-index: 10;

            .closeBtn {
                position: absolute;
                top: 50px;
                left: 30px;
                width: 20px;
                height: 20px;
                transition: 0.5s;

                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: rotate(45deg);
                }

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: rotate(-45deg);
                }

                &:hover {
                    transform: scale(1.2);
                }
            }

            .util {
                position: absolute;
                top: 50px;
                right: 0px;

                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }

                li {
                    float: left;

                    a {
                        display: block;
                        font: 13px/1 'Amiri';
                        color: #fff;
                        padding: 0 15px;
                        transition: 0.5s;
                    }

                    &:hover a {
                        transform: scale(1.2);
                        color: #e7dd54;
                    }
                }
            }

            .icons {
                position: absolute;
                top: 60px;
                right: 0;

                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }

                li {
                    float: left;

                    a {
                        display: block;
                        padding: 30px 15px;
                        transition: 0.5s;
                        color: #fff;

                        i {
                            font-size: 22px;
                        }
                    }

                    &:hover a {
                        transform: scale(1.2);
                        color: #e7dd54;
                    }
                }
            }

            #gnbMo {
                margin-top: 100px;

                li {
                    a {
                        display: block;
                        width: 100%;
                        padding: 40px 0;
                        font: bold 20px/1 'Amiri';
                        text-align: left;
                        transition: 0.5s;
                        color: #efefef;
                    }

                    &:hover a {
                        transform: translateX(50px);
                        color: #e7dd54;
                        font-style: italic;
                    }
                }
            }


            &.on {
                left: 0;
            }
        }
    }
}


.community{
    .inner{
        ::after{
            content: ''; display: block; clear: both;
        }

        .left{
            float: left;
            width: 30%;
            transition: all 0.5s;


            a{
                display: block;
                font: 30px/1 'Scheherazade New';
                text-align: left;
                margin-left: 60px;
                margin-bottom: 20px;
                color: #e7dcdc;
                &:nth-child(1){
                    color: #595f70;
                }
                &:hover{
                    color: #db6b6b;
                    transition: all 0.5s;
                }
            }
            
        }

        .right{
            float: left;
            width: 826px;

            table{
                width: 100%;
                border-collapse: collapse;

                th{
                    padding: 15px;
                    color: #595f70;
                    font: normal 14px/1 'Scheherazade New';
                    border-top: 1px solid #595f70;
                    border-bottom: 1px solid #595f70;

                    &:nth-of-type(1){
                        width: auto;
                    }

                    &:nth-of-type(2){
                        width: 20%;
                    }
                }

                td{
                    padding: 15px;
                    border-bottom: 1px solid #595f70;
                    font: normal 13px/1 'Scheherazade New';
                    color: #595f70;
                    text-decoration: none;

                    a{
                        font-size: 17px;
                        color: #595f70;
                        font-family: 'Scheherazade New';
                    }

                    &:nth-of-type(2){
                        text-align: center;
                    }
                }

                & a:hover{
                    text-decoration: underline;
                    font-weight: bold;
                }
            }

            .pagination{
                padding-top: 30px;
                text-align: center;
                width: 510px;
                margin: 0 auto;

                &::after{
                    content: ''; display: block; clear: both;
                }

                .prev_double{
                    float: left;
                    display: block;
                    width: 30px;
                    height: 30px;
                    color: #595f70;
                    border: 1px solid #595f70;
                    text-align: center;
                    line-height: 30px;
                    margin-right: 5px;
                }

                .prev{
                    float: left;
                    display: block;
                    width: 30px;
                    height: 30px;
                    color: #595f70;
                    border: 1px solid #595f70;
                    text-align: center;
                    line-height: 30px;
                    margin-right: 10px;
                }

                .next{
                    float: left;
                    display: block;
                    width: 30px;
                    height: 30px;
                    color: #595f70;
                    border: 1px solid #595f70;
                    text-align: center;
                    line-height: 30px;
                    margin-left: 10px;
                }

                .next_double{
                    float: left;
                    display: block;
                    width: 30px;
                    height: 30px;
                    color: #595f70;
                    border: 1px solid #595f70;
                    text-align: center;
                    line-height: 30px;
                    margin-left: 5px;
                }

                .numbers{
                    float: left;
                    text-align: center;
                    font-size: 0;

                    a{
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        font: 13px/30px 'Scheherazade New';
                        color: #595f70;
                        text-align: center;
                        margin: 0 3px;

                        &:nth-of-type(1){
                            font-weight: bold;
                            text-decoration: underline;
                        }

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .search{
            text-align: center;
            padding-top: 20px;
            text-align: center;
            width: 510px;
            margin: 0 auto;

            input{
                width: 100%;
                border: 0;
                border-bottom: 2px solid #595f70;
                outline: 0;
                font: normal 15px/1 '맑은 고딕';
                color: #111;
                padding: 7px 0;
                box-sizing: border-box;
                margin-left: -10px;
                background-color: #E7A7A7;
            }

            button{
                border: 0;
                background: #E7A7A7;
                margin-left: -30px;
            }
        }
    }
}